.total-cases-header {
  width: 17%;
  color: #ff0000;
  text-align: center;
}
.total-cases-header1 {
  width: 17%;
  color: #017cff;
  text-align: center;
}
.total-cases-header2 {
  width: 17%;
  color: #5cb85c;
  text-align: center;
}
.total-cases-header3 {
  width: 17%;
  color: #6c757d;
  text-align: center;
}

.date-format {
  color: #373a3c;
  font-size: 14px;
  font-weight: 600;
}

.href-links {
  cursor: pointer;
  color: #0061c7 !important;
  font-weight: 500;
}
