<div>
  <total-cases total-cases-data="$ctrl.covidData[0]" territories-affected="$ctrl.affectedStates"
    change-hook="$ctrl.languageCode(value)"></total-cases>
</div>
<div class="covid-table row">
  <div class="col-md-9">
    <table>
      <thead>
        <tr class="covid-table-row">
          <th table-header-directive headname={{$ctrl.headerNames[0]}} class="table-header"></th>
          <th table-header-directive headname="Confirmed Cases" class="table-header"
            ng-click='$ctrl.reverseSorting("confirmed")'></th>
          <th table-header-directive headname="Active Cases" class="table-header"
            ng-click='$ctrl.reverseSorting("active")'></th>
          <th table-header-directive headname="Recovered" class="table-header"
            ng-click='$ctrl.reverseSorting("recovered")'></th>
          <th table-header-directive headname="Deceased" class="table-header" ng-click='$ctrl.reverseSorting("deaths")'>
          </th>
          <ng-container ng-if="$ctrl.headerNames.length> '5'">

            <th table-header-directive headname="Last Update" class="table-header"></th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="covidNumber in ($ctrl.covidData | sortTable :$ctrl.columnName: $ctrl.reverse) track by $index"
          ng-if="covidNumber.territory !== 'Total'" class="covid-table-row">
          <td style="width: 17%;" ng-if='covidNumber.state.length > 0 && covidNumber.confirmed > 0'>
            <a class="href-links" ng-click="$ctrl.navigateToStatesData(covidNumber.territory)">{{covidNumber.state}}</a>
          </td>
          <td style="width: 17%;" ng-if='covidNumber.state.length > 0 && covidNumber.confirmed == 0'>
            {{covidNumber.territory}}</td>

          <td style="width: 17%;" ng-if='covidNumber.districtName.length > 0 && 
              covidNumber.confirmed > 0'>{{covidNumber.territory}}</td>

          <td style="width: 17%;">{{covidNumber.confirmed}}</td>
          <td style="width: 17%;">{{covidNumber.active}}</td>
          <td style="width: 17%;">{{covidNumber.recovered}}</td>
          <td style="width: 17%;">{{covidNumber.deaths}}</td>
          <td style="width: 17%;">{{covidNumber.lastupdatedtime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>