<div>
  <total-cases total-cases-data="$ctrl.covidData[0]"></total-cases>
</div>
<div class="covid-table row">
  <div class="col-md-9">
    <table id="covidTable">
      <tr style="border-bottom: solid 1px grey;">
        <th table-header-directive headname="State/UT" style="width: 17%;"></th>
        <th
          table-header-directive
          headname="Confirmed Cases"
          style="width: 17%; cursor: pointer;"
          ng-click='$ctrl.reverseSorting("confirmed")'
        ></th>
        <th
          table-header-directive
          headname="Active Cases"
          style="width: 17%; cursor: pointer;"
          ng-click='$ctrl.reverseSorting("active")'
        ></th>
        <th
          table-header-directive
          headname="Recovered"
          style="width: 17%; cursor: pointer;"
          ng-click='$ctrl.reverseSorting("recovered")'
        ></th>
        <th
          table-header-directive
          headname="Deceased"
          style="width: 17%; cursor: pointer;"
          ng-click='$ctrl.reverseSorting("deaths")'
        ></th>
        <th
          table-header-directive
          headname="Last Update"
          style="width: 17%;"
        ></th>
      </tr>
      <tr
        ng-repeat="covidNumber in ($ctrl.covidData | sortTable :$ctrl.columnName: $ctrl.reverse) track by $index"
        ng-if="covidNumber.state !== 'Total'"
        style="border-bottom: solid 1px grey;"
      >
        <td style="width: 17%;">{{covidNumber.state}}</td>
        <td style="width: 17%;">{{covidNumber.confirmed}}</td>
        <td style="width: 17%;">{{covidNumber.active}}</td>
        <td style="width: 17%;">{{covidNumber.recovered}}</td>
        <td style="width: 17%;">{{covidNumber.deaths}}</td>
        <td style="width: 17%;">{{covidNumber.lastupdatedtime}}</td>
      </tr>
    </table>
  </div>
</div>
